<div id="for-top-border">
	<div class="container">

		<div *ngFor="let member of members">

		<h2 id="welcome">Bienvenue {{ member.name }} {{ member.surname }} !</h2>

		<div class="row no-gutters justify-content-center">
			<a class="btn btn-info account-menu-btn" routerLink="/update-profile" *ngIf="member.hasSubmitedProfile === true">Modifier mon profil</a>
		</div>

		<br>

		<div class="row no-gutters justify-content-center">
			<a class="btn btn-info account-menu-btn" routerLink="/avatar-update" *ngIf="member.hasSubmitedProfile === true">Modifier ma photo de profil</a>
		</div>

		<br>

		<div class="row no-gutters justify-content-center">
			<a class="btn btn-info account-menu-btn" routerLink="/update-password">Changer mon mot de passe</a>
		</div>

		<br>

		<app-profil-type *ngIf="member.hasSubmitedProfile === false"></app-profil-type>

		<div id="home">
			<a routerLink="/">Retourner à la page d'accueil</a>	
		</div>	

		</div>

	</div>

</div>
