<div id="for-top-border">
	<div class="container">

		<div *ngFor="let member of members">

		<h2 id="welcome">Bienvenue {{ member.name }} {{ member.surname }} !</h2>

		<a routerLink="/update-profile" *ngIf="member.hasSubmitedProfile === true">Modifier mon profil</a>

		<br><br>

		<a routerLink="/update-password">Changer mon mot de passe</a>

		<br><br>

		<app-register-profile *ngIf="member.hasSubmitedProfile === false"></app-register-profile>

		<div id="home">
			<a routerLink="/">Retourner à la page d'accueil</a>	
		</div>	

		</div>

	</div>

</div>
