<div id="for-top-border">
	<div class="container">

		<!-- <h2 id="title">A propos de l'association GéoLink</h2> -->

		<img id="logo-about" src="../assets/logo.png">

		<hr>

		<div id="about-content">
			
			

			<p>L’association <a href="/">GéoLink</a> est une initiative des étudiants du <a href="https://intranet.univ-rennes2.fr/geographie-amenagement-espace/master-gaed-parcours-telenvi"><img>Master GAED “TELENVI”</a>. Elle compte parmis ses membres les actuels et anciens étudiants du master mais également des doctorants, chercheurs, enseignants et professionnels concernés par les technologies spatiales (géolocalisation, S.I.G., télédétection,...). </p>

			<p>L’objectif premier de l’association est de tisser un réseau d’acteurs participants au développement et à l’application de ces technologies. A travers ses projets, l’association vise à mettre en relation ces acteurs et à promouvoir l’utilisation des technologies spatiales dans la société :</p>
			<ul>
				<li>Annuaire web des membres du réseau</li>
				<li>Cycle de conférence et vulgarisation scientifique</li>
				<li>Promotion des ateliers professionnels du master</li>
				<li>Services aux étudiants (Veille scientifique et technique, Workshops, Géo-missions...)</li>
			</ul>

			

			<hr>

			<br>

			<h3 id="title-gaed">Master mention Géographie, Aménagement, Environnement et Développement (GAED)</h3>

			<br>

			<h4 id="title-telenvi">Le parcours Télédétection, Environnement (TELENVI)</h4>

			<br>

			<p>Ce parcours a pour objectif de former des personnes à même de comprendre les processus environnementaux et de les étudier au moyen des technologies spatiales actuelles. La formation est à forte composante professionnelle et elle permet également de se former pour et par la recherche.</p>

			<p>Il a comme objectif d’apporter une double compétence, en associant une connaissance approfondie des outils et méthodes spatiales avec une connaissance des principaux domaines d’application. Ces domaines sont les relations environnement/société et territoire/société, avec une forte composante méthodologique axée sur :</p>

			<ul>
				<li>le traitement des données satellitaires et aériennes,</li>
				<li>les approches spatiales utilisant les SIG (systèmes d'information géographique),</li>
				<li>les statistiques et l’informatique,</li>
				<li>les enquêtes sociales et les travaux de terrain.</li>
			</ul>

			<p>Le parcours TELENVI fait l'objet depuis plusieurs années d'une collaboration particulière entre <a href="https://intranet.univ-rennes2.fr/geographie-amenagement-espace/master-gaed-parcours-telenvi">l'université Rennes 2</a> et <a href="https://www.agrocampus-ouest.fr/formation/masters/parcours-teledetection-environnement">AGROCAMPUS OUEST</a> permettant de faire bénéficier aux étudiants des synergies entre les équipes pédagogiques des deux établissements en matière de télédétection et d’environnement.</p>

			<div id="logo-container">
				<a href="https://intranet.univ-rennes2.fr/geographie-amenagement-espace/master-gaed-parcours-telenvi"><img id="logo-rennes2" src="../assets/images/rennes2.png"></a>
				<a href="https://www.agrocampus-ouest.fr/formation/masters/parcours-teledetection-environnement"><img id="logo-agro" src="../assets/images/L-institut-Agro-Agrocampus-Ouest_inra_image.jpg"></a>
			</div>

			<hr>

		</div>


		<div id="home">
			<a routerLink="/">Retourner à la page d'accueil</a>	
		</div>	

	</div>
</div>
