<div id="profile-box">
	
	<div id="map"></div>

	<h2>Profil du membre</h2>
	<h3>{{ members[memberId].name }} {{ members[memberId].surname }}</h3>
	<p> {{ members[memberId].status }}</p>
	<p>Ce chercheur relève des catégories suivantes :</p>
	<ul>
		<li *ngIf="members[memberId].thematics[0]"> {{ members[memberId].thematics[0] }}</li>
		<li *ngIf="members[memberId].thematics[1]"> {{ members[memberId].thematics[1] }}</li>
		<li *ngIf="members[memberId].thematics[2]"> {{ members[memberId].thematics[2] }}</li>
		<li *ngIf="members[memberId].thematics[3]"> {{ members[memberId].thematics[3] }}</li>
		<li *ngIf="members[memberId].thematics[4]"> {{ members[memberId].thematics[4] }}</li>
	</ul>
	<p><span style="font-weight: bold;">A propos :</span> {{ members[memberId].about  }}</p>
</div>

<a routerLink="/">Retourner à la page d'accueil</a>
