#profile-box {
	background-image: url("/../assets/4p.jpg");
	border-top: rgba(57, 140, 133, 1) solid 30px;
}

#profile-background {
	padding-top: 2%;
	/*background-color: rgba(255, 202, 24, 0.6);*/
	padding-bottom: 1%;
	/*padding-bottom: 1%;*/
}


#map {
	height: 50vh;
	width: 80%;
	/*margin-bottom: 1%;*/
}

#name {
	/*color: white;*/
	font-weight: bold;
	text-align: center;
	font-size: 2em;
}

#info {
	margin: auto;
	width: 80%;
	background-color: white;
}

#home {
	text-decoration: underline;
	text-align: center;
}

#home a {
	color: black;
}

#categories {
	overflow: hidden;
}

.category {
	background-color: rgba(230, 230, 230, 1); 
	margin-right: 10px;
}

.avatar {
	width: 60%;
	margin: auto;
  	display: block;
}

.avatar-block {
	
	width: 30%;	
	margin: auto;
	display: flex;
}

.card-body {
  width: 70%;
  border-right: rgba(180, 180, 180, 1) 2px solid;
  margin-bottom: 0 !important;
 }

 .card-text {
 	text-align: justify;
 }

