<h2>Modifier mon mot de passe</h2>

<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmitUpdatePassword()">
	<label for="oldPassword"> Mot de passe actuel : </label><input type="password" name="oldPassword" formControlName="oldPassword">
	<br>
	<label for="password"> Nouveau mot de passe : </label><input type="password" name="password" formControlName="password">
	<br>
	<label for="passwordConfirm"> Confirmation du nouveau mot de passe : </label><input type="password" name="passwordConfirm" formControlName="passwordConfirm">
	<br>
	<input type="submit">
</form>

<div class="errorMessage" *ngIf="errorMessage">
	<p>{{ errorMessage }}</p>
</div>
<div class="successMessage" *ngIf="successMessage">
	<p>{{ successMessage }}</p>
</div>

<br/>

<a routerLink="/user-account">Retourner dans mon espace membre</a>