<div id="for-top-border">
	<div class="container">

		<h2>Mentions légales</h2>

		<h3>Informations éditoriales</h3>

		<br>

		<h4>Éditeur</h4>

		<p>Association Géolink</p>
		<p>Université Rennes 2 - Place du Recteur Henri Moal</p>
		<p>35000 RENNES France</p>

		<h4>Directeur de publication</h4>

		<br>

		<h4>Hébergement</h4>

		<br>

		<h4>Contact</h4>

		<p>association.geolink@gmail.com</p>

		<br>

		<h3>Protection et traitement de données à caractère personnel</h3>

		<br>

		<p>Les informations recueillies lors de l'inscription à l'annuaire GéoLink sont enregistrées dans un fichier informatisé par l'association pour y afficher publiquement le profil des membres. La base légale du traitement est le consentement.</p>
		<p>Les données collectées lors de la création d'un profil sont destinées à être publiées publiquement puisque le principe du service et de mettre à disposition ces informations à des fins de mise en contact entre les membres et les visiteurs. Sont exclus de l'affichage publique les données permetant la connexion au service.</p>
		<p>Les données sont conservées pendant la durée de vie de l'application ou jusqu'a demande de suppression par la personne concernée.</p>
		<p>Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données en nous contactant .</p>
		<p>Consultez le site cnil.fr pour plus d’informations sur vos droits.</p>
		<p>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez nous contacter à l'adresse courriel suivante: "association.geolink@gmail.com". </p>
		<p>Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>







		<div id="home">
			<a routerLink="/">Retourner à la page d'accueil</a>	
		</div>	

	</div>
</div>