
/* custom CSS map */

#subtitle {
	text-align: center;
	color: white;
	font-size: 1.5em;
}

#map {
	/*position: relative;*/
	height: 50vh;
	width: 80%;
	margin-bottom: 1%;
	/*border-bottom: rgba(57, 140, 133, 1) solid 5px;*/

	/*border: rgb(229, 158, 150) solid 2px;*/
}

#map-container {
	/*background-color: rgba(229, 158, 150, 1);*/
}

#map-with-categories{
	padding-top: 0.5%;
	background-color: rgba(57, 140, 133, 0.8);
	border-top: rgba(57, 140, 133, 1) solid 30px;
	/*border-bottom: rgba(241, 189, 16, 0.5) solid 5px;*/
}

#categories {
	padding-bottom: 1%;
}

button {
margin-right: 2px;
}

.custom-select {
	width: 15%;
}
