<div id="map-container">
    <div id="map-with-categories" >
        <div id="map-background">
            <h1 id="subtitle">Réseau pour la promotion des Technologies spatiales</h1>
            <div class="row no-gutters justify-content-center">
                <div id="map" class="row no-gutters"></div>
            </div>

            <div class="row no-gutters justify-content-center" id="categories">

                <button id="displayAll" class="btn btn-info"(click)="onDisplayAll()">Tout afficher</button>
                    
                <select class="custom-select" (change)="addMarkerOnClick($event.target.value)" [formControl]="selectOptionsStatus">
                    <option value="all">-- Tout Statut --</option>
                    <option value="Doctorant">Doctorants</option>
                    <option value="Post-doctorant">Post-doctorants</option>
                    <option value="Etudiant du master TELENVI">Etudiants</option>
                    <option value="Enseignant-Chercheur">Enseignants-Chercheurs</option>
                    <option value="Enseignant">Enseignants</option>
                    <option value="Chercheur">Chercheurs</option>                   
                    <option value="Ingénieur">Ingénieurs</option>
                    <option value="Technicien">Techniciens</option>
                    <option value="Professionnel">Professionnels</option>
                    <option value="Organisme public">Organismes publics</option>
                    <option value="Organisme privé">Organismes privés</option>
                  
                </select>

                <select class="custom-select" (change)="chooseThematic($event.target.value)" [formControl]="selectOptionsThematic">
                    <option value="all">-- Toutes Thématiques --</option>
                    <option value="Agriculture de Précision">Agriculture de Précision</option>
                    <option value="Archéologie">Archéologie</option>
                    <option value="Climatologie">Climatologie</option>
                    <option value="Cryosphère">Cryosphère</option>
                    <option value="Ecologie">Ecologie</option>
                    <option value="Environnement">Environnement</option>
                    <option value="Epidémiologie">Epidémiologie</option>
                    <option value="Géodésie">Géodésie</option>
                    <option value="Géographie">Géographie</option>
                    <option value="Géologie">Géologie</option>
                    <option value="Géomorphologie">Géomorphologie</option>
                    <option value="Géosciences">Géosciences</option>
                    <option value="Hydrologie">Hydrologie</option>
                    <option value="Informatique">Informatique</option>
                    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
                    <option value="Littoral">Littoral</option>
                    <option value="Mathématiques">Mathématiques</option>
                    <option value="Météorologie">Météorologie</option>
                    <option value="Métrologie">Métrologie</option>
                    <option value="Modélisation">Modélisation</option>
                    <option value="Océanographie">Océanographie</option>
                    <option value="Optique">Optique</option>
                    <option value="Paléogéographie">Paléogéographie</option>
                    <option value="Pédologie">Pédologie</option>
                    <option value="Radar">Radar</option>
                    <option value="Risques Naturels">Risques Naturels</option>
                    <option value="Statistiques">Statistiques</option>
                    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
                    <option value="Télédétection">Télédétection</option>
                    <option value="Traitement du signal">Traitement du signal</option>
                    <option value="Urbain">Urbain</option>  
                </select>
            </div>
        </div>
    </div>

    <app-member-list></app-member-list>


</div>




