
<form [formGroup]="searchForm" (ngSubmit)="onSearchMember()" class="row no-gutters justify-content-center">
    <input type="search" class="search-bar form-control" 
    placeholder="Rechercher un membre..."
    formControlName="keyWord" 
    size="30" >

</form>

<div id="result" *ngIf="results.length > 0 || noResultDisplay === true" (clickOutside)="onClickedOutside($event)">
	
	<div *ngFor="let result of results; let i = index">
		<div class="card" *ngIf="result != null">
		  <div class="card-header" >
		    {{ result.status }}
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">{{ result.name }} {{ result.surname }}</h5>
		    
		    <a class="btn btn-primary" (click)="onViewMember(i)">Voir le profil du membre</a>
		  </div>
		</div>
	</div>

	<div *ngIf="noResultDisplay === true"><p>Pas de résultats à afficher...</p></div>

</div>


