<hr>

<form [formGroup]="searchForm" (ngSubmit)="onSearchMember()">
	<div>
	    <input type="search" class="search-bar" 
	    placeholder="Rechercher un membre..."
	    formControlName="keyWord" 
	    size="30" >
	    <button type="submit">Rechercher</button>
  	</div>
</form>

<div *ngFor="let result of results; let i = index">
	<ul>
		<li *ngIf="result != null" class="result-box"> <span style="font-weight: bold;">{{ result.name }} {{ result.surname }}</span> : 
		{{ result.status }} - <button (click)="onViewMember(i)">Voir le profil du membre</button></li>
		
	</ul>
	
</div>

<div *ngIf="noResultDisplay === true"><p>Pas de résultats à afficher...</p></div>