
<div class="container-fluid px-0 no-gutters" >
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom" style="text-align: center !important;">
	    <a id="logo-link" class="mr-auto row no-gutters justify-content-center" routerLink="/">
            <img id="logo" src="../assets/logo.png" class="img-fluid" alt="Responsive image">
    	</a>
    	<app-search-bar class="searchLarge">></app-search-bar>
	  	<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
		    <ul class="navbar-nav">

	    	  <li class="nav-item" style="margin-right: 4px;">
		        <a class="btn btn-dark about-button font-reduce"  routerLink="/about">Qui sommes-nous ?</a>
		      </li>
		     
		      <li class="nav-item" style="margin-right: 2px;">
		        <a class="btn btn-outline-dark font-reduce"  routerLink="/register-account" *ngIf="!authService.isConnected() || authService.isExpired()">S'inscrire</a>
		      </li>

		      <li class="nav-item" style="margin-right: 2px;">
		        <a class="btn btn-outline-dark font-reduce" routerLink="/user-account" *ngIf="authService.isConnected() && !authService.isExpired()">Compte utilisateur</a>
		      </li>

		      <li class="nav-item" style="margin-right: 2px;">
		        <a class="btn btn-outline-dark font-reduce" routerLink="/login" *ngIf="!authService.isConnected() || authService.isExpired()">Se connecter</a>
		      </li>

		      <li class="nav-item" style="margin-right: 2px;">
		        <a class="btn btn-outline-dark font-reduce" routerLink="/" (click)="onLogout()" *ngIf="authService.isConnected() && !authService.isExpired()">Déconnexion</a>
		      </li>
		    </ul>
	  </div>
	</nav>

	<app-search-bar class="searchMobile">></app-search-bar>
	
	<router-outlet></router-outlet>
	

	
</div>

<div id="footer" class="static-bottom">
		<div id="footer-top" class=" row  no-gutters justify-content-center">
			
			<p class="findUs">Retrouvez nous sur les réseaux : </p>
			<a href="https://www.facebook.com/associationgeolink/"><img class="network" src="../assets/images/facebook.png"></a>
			<a href="https://twitter.com/Geolink_Rennes"><img class="network" src="../assets/images/twitter.png"></a>
			<p class="findUs">et sur </p>
			<a id="siteLink" href="https://associationgeolink.wixsite.com/geolink"> le site de l'association.</a>
		</div>
		<div id="footer-bottom" class=" row  no-gutters justify-content-center">
			<p id="signature">Crée par Adrien Alvarez-Vanhard </p>
			<a href="https://github.com/AdrienAlva"><img id="githubLogo" src="../assets/images/github.png"></a>
			<p>-</p>
			<a id="mentions" routerLink="/mentions-legales">Mentions légales</a>
			<p>-</p>
			<a id="attribution" href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors

		</div>
	</div>	

<!-- <p>Le portail géographique de l'association Géolink représente le réseau d'étudiants, enseignants, chercheurs, professionnels et organismes publics ou privés autour du Master TELENVI (Télédétection-Environnement) de l'Université Rennes 2.</p> -->
