

<div class="container-fluid px-0 no-gutters">

	<div id="header" class="row no-gutters justify-content-center"><a id="logo-link" routerLink="/"><img id="logo" src="../assets/logo.png"></a></div>

	<!-- <div id="description" class="row no-gutters justify-content-center"></div> -->
	
	<div id="map-container">
		<router-outlet></router-outlet>
	</div>

</div>

<!-- <p>Le portail géographique de l'association Géolink représente le réseau d'étudiants, enseignants, chercheurs, professionnels et organismes publics ou privés autour du Master TELENVI (Télédétection-Environnement) de l'Université Rennes 2.</p> -->
