#header {
	margin-top: 1%;
	height: 7vh;
	background-color: white;
	margin-bottom: 1%;
	
}
#description {
	height: 5vh;
	background-color: rgba(117, 209, 206, 0.1);
	border-bottom: rgba(117, 209, 206, 0.3) solid 5px;
	border-top: rgba(117, 209, 206, 0.3) solid 5px;

}

#logo {
	height: 100%;
}

#logo-link{
	height: 100%;
}