/* NOTES
 - class row + no-gutter pour supprimer le 15px margin de bootstrap.

*/




/*import du CSS leaflet */
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

@font-face {
  font-family: 'Caviar-Dreams';
 	src: url(assets/fonts/Caviar-Dreams.ttf.eot),
 	     url('assets/fonts/Caviar-Dreams.ttf.woff') format('woff');
}

html,body {
	padding: 0;
}

body {
	font-family: 'Caviar-Dreams';
}

/* messages */
.errorMessage {
	color: red;
	border: red solid 2px;
	margin-top: 5px;
}

.successMessage {
	color: green;
	border: green solid 2px;
	margin-top: 5px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}