/* You can add global styles to this file, and also import other style files */


/*import du CSS leaflet */
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

/* custom CSS map */

#map {
	position: relative;
	height: 50vh;
	width: 100%;
}


/* list */

.li-item {
	border: solid green 2px;
	margin-bottom: 2px;
}

/* categories buttons*/

.green-btn {
	background-color: green;
}

/* messages */

.errorMessage {
	color: red;
	border: red solid 2px;
	margin-top: 5px;
}

.successMessage {
	color: green;
	border: green solid 2px;
	margin-top: 5px;
}