/* NOTES
 - class row + no-gutter pour supprimer le 15px margin de bootstrap.

*/




/*import du CSS leaflet */
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome";
@import "~@fortawesome/fontawesome-free/css/brands";
@import "~@fortawesome/fontawesome-free/css/regular";
@import "~@fortawesome/fontawesome-free/css/solid";
@import "~@fortawesome/fontawesome-free/css/v4-shims";


@font-face {
  font-family: 'Caviar-Dreams';
 	src: url(assets/fonts/CaviarDreams.ttf);
}

* {
  box-sizing: border-box; 
}
html, body {
  margin:   0;
	padding: 0;
}

body {
	font-family: 'Caviar-Dreams';
}

.container-fluid {
  min-height: 89.8vh; /* pour sticky footer */
}

/* messages */
.errorMessage {
	color: red;
	border: red solid 2px;
	margin-top: 5px;
  text-align: center;
}

.successMessage {
	color: green;
	border: green solid 2px;
	margin-top: 5px;
  text-align: center;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.leaflet-control-container{
	display: none;
}

.navbar-custom {
  background-color: white !important; 
  min-height: 8vh;

  padding: 0;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  margin-left: 1%;
  margin-right: 1%;
}

#navbarNav {
	width: 33.3%;
}

.searchMobile{
  display: none;
}

app-search-bar {
	width: 33.3%;
}

#result {
  background-color: white;
  width: 70%;
  height: 600%;
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 15%;
  overflow: scroll;
}


#logo {
  height: 100%;
}

#logo-link{
  height: 8vh;
  width: 33.3%;
}

.custom-select {
    margin-right: 2px;
    width: 20% !important;
  }

#footer {
  height: 10vh;

}

#footer-top {
  height: 4vh; 
  background-color: rgba(57, 140, 133, 0.6);
  line-height: 4vh; 
  white-space: nowrap;

}

#footer-bottom {
  font-size: 0.8em;
  height: 6vh;
  background-color: rgba(57, 140, 133, 1);  
  line-height: 6vh; 
  white-space: nowrap;
}

#footer-bottom p {
  margin: 0;
}

.findUs {
  color: white;
  margin-right: 10px;
 
}

.network {
  height: 3vh;
  margin-right: 5px;
}

#siteLink {
  text-decoration: underline;
  color: white;
}

#githubLogo {
  height: 2vh;
  margin-right: 10px;
  margin-left: 10px;
}

#mentions {
  text-decoration: underline;
  color: black;
  margin-left: 10px;
}




@media (max-width: 992px) {

  #map {

  width: 80% !important;

}

  .searchLarge {
    display: none;
  }

  .navbar-custom {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #logo-link{
    display: block;
    text-align: center;
    margin-right: 0 !important;
    width: 80%;
  }

  #logo {
    height: 100%;
    margin-left: 25%;
  }

  .navbar-toggler {
    width: 20%;
  }

  .navbar-nav {
    margin-top: 2%;
  }

  .btn-outline-dark{
    width: 80%;
    margin-bottom: 2px;
  }

  .searchMobile{
    display: contents;
  }

  #result {
  height: 60% !important;
  top: 15% !important;
  }

  .custom-select {
    width: 80% !important;
    margin-bottom: 2px !important;
  }

  #displayAll {
    width: 80% !important;
    margin-bottom: 2px !important;
  }

  #footer-top {
    font-size: 0.6em !important;
  }

  #footer-bottom {
    font-size: 0.7em;
    height: 6vh;
    background-color: rgba(57, 140, 133, 1);  
    line-height: 6vh; 
    white-space: nowrap;
  }

  #categories { /* page profil */
    font-size: 0.7em;
  }

  /* user-account */

  #welcome {
    font-size: 1.7em;
    margin-bottom: 5% !important;
  }

  .account-menu-btn {
    width: 80% !important;
  }

  /* admin-panel*/

  .btn-admin {
    width: 80% !important;
  }

}/* Eo @media (max-width: 576px)*/

/* Scrolling bars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

