<h2>Mettre à jour les informations de mon profil</h2>

<ul>
	<div *ngFor="let member of memberToUpdate">
		<div>
			<form  (ngSubmit)="onSubmitVerifiedMember(f)" #f="ngForm" >
				<label for="surname">Nom : </label><input type="text" name="surname" [ngModel]="member.surname">
				<br>
				<label for="name">Prénom : </label><input type="text" name="name" [ngModel]="member.name">
				<br>
				<label for="status">Statut : </label><input type="text" name="status" [ngModel]="member.status">
				<br>
				<label for="category">Thématiques : </label>
				<select name="category1" [ngModel]="member.category[0]">
				    <option value="">-- Catégories --</option>
				    <option value="cartographie">cartographie</option>
				    <option value="dronistique">dronistique</option>
				    <option value="javascript">javascript</option>
				</select>
				<select name="category2" [ngModel]="member.category[1]">
				    <option value="">-- Catégories --</option>
				    <option value="cartographie">cartographie</option>
				    <option value="dronistique">dronistique</option>
				    <option value="javascript">javascript</option>
				</select>
				<br>
				<br>
				<label for="about">Description : </label><textarea name="about" [ngModel]="member.about"rows="5" cols="33">	
				</textarea>
				<br>
				<p>Coordonnées géographiques : </p>
				<label for="lat">Latitude : </label><input type="text" name="lat" [ngModel]="member.lat">
				<br>
				<label for="lng">Longitude : </label><input type="text" name="lng" [ngModel]="member.lng">
				<br>
				<button type="submit">Accepter</button>
				<br><br>
			</form>
		</div>
	</div>
</ul>

<div class="successMessage" *ngIf="this.successMessage">
	<p>{{ successMessage }}</p>
</div>

<br><br>

<a routerLink="/user-account">Retour</a>
