<div id="for-top-border">
	<div class="container">

		<h2>Mettre à jour les informations de mon profil</h2>
	
		<div *ngFor="let member of memberToUpdate">
			
			<form  (ngSubmit)="onSubmitVerifiedMember(f)" #f="ngForm" >
				<div class="form-group">
					<label for="surname">Nom : </label><input class="form-control" type="text" name="surname" [ngModel]="member.surname">
				</div>

				<div class="form-group" *ngIf="member.status != 'organisme public' && member.status != 'organisme privé'">
					<label for="name">Prénom : </label><input class="form-control" type="text" name="name" [ngModel]="member.name">
				</div>
				<div class="form-group">
					<label for="status">Statut: </label>
					<select class="form-control" name="status" [ngModel]="member.status">
					    <option value="">-- Statut --</option>
					    <option value="Etudiant du master TELENVI">Etudiant du master TELENVI</option>
					    <option value="Doctorant">Doctorant</option>
					    <option value="Post-doctorant">Post-Doctorant</option>
					    <option value="Enseignant-Chercheur">Enseignant-Chercheur</option>
					    <option value="Professionnel">Professionnel</option>
					    <option value="">-------</option>
					    <option value="Organisme public">Organisme public</option>
			    		<option value="Organisme privé">Organisme privé</option>
					</select>
				</div>

				<p >Thématiques de travail :</p>
				<div class="form-group">
					<select class="form-control" name="thematic1" [ngModel]="member.thematics[0]">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic2" [ngModel]="member.thematics[1]">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic3" [ngModel]="member.thematics[2]">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic4" [ngModel]="member.thematics[3]">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic5" [ngModel]="member.thematics[4]">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<label for="about">Description : </label>
					<textarea class="form-control" name="about" [ngModel]="member.about" rows="5" cols="33">	
					</textarea>
				</div>

				<div class="form-group">
					<label for="name">Site web : </label>
					<input class="form-control" type="url" name="site" [ngModel]="member.site">
				</div>

				<p>Coordonnées géographiques : </p>

				<div class="form-group">
					<label for="lat">Latitude : </label>
					<input class="form-control" type="text" name="lat" [ngModel]="member.lat">
				</div>

				<div class="form-group">
					<label for="lng">Longitude : </label>
					<input class="form-control" type="text" name="lng" [ngModel]="member.lng">
				</div>

				<div class="row no-gutters justify-content-center">
					<button class="btn btn-primary" type="submit">Accepter</button>
				</div>
				
			</form>				
		</div>

		<div class="successMessage" *ngIf="this.successMessage">
			<p>{{ successMessage }}</p>
		</div>

		<div id="home">
			<a routerLink="/user-account">Page d'accueil utilisateur</a>	
		</div>	

	</div>
</div>