
#for-top-border {
	border-top: rgba(57, 140, 133, 1) solid 3vh;
}

.container {
	border: rgba(230, 230, 230, 1) solid 1px;
}

#for-top-border h2 {
	margin-top: 3%;
	margin-bottom: 3%;
}

#for-top-border .btn {
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-right: 20px;
}

input[type="radio"] { 
  margin-right: 5px;
  /*Pour espacer le boutton et le texte de label*/
}

#avatar-input {
	border-bottom: rgba(57, 140, 133, 1) dotted 2px;
	padding-bottom: 3%;
}


#home {
	text-decoration: underline;
	text-align: center;
	margin-top: 3%;
}

#home a {
	color: black;
}

#map {
	height: 30vh;
	cursor: crosshair; 
}