<div id="for-top-border">
	<div class="container">

		<h2>Demande pour rejoindre l'annuaire GéoLink</h2>

		<form [formGroup]="registerProfileForm" (ngSubmit)="onSubmitRegisterProfile()">
			<fieldset>
				<div class="form-group">
					<label for="surname">Nom : </label>
					<input class="form-control" type="text" name="surname" formControlName="surname">
				</div>

				<div class="form-group">
					<label for="name">Prénom : </label>
					<input class="form-control" type="text" name="name" formControlName="name">
				</div>

				<div class="form-group">
					<label for="status">Statut: </label>
					<select class="form-control" name="status" formControlName="status" (change)="onClickStatus($event.target.value)">
					    <option value="">-- Statut --</option>
					    <option value="Etudiant du master TELENVI">Etudiant du master TELENVI</option>
					    <option value="Doctorant">Doctorant</option>
					    <option value="Post-doctorant">Post-Doctorant</option>
					    <option value="Enseignant-Chercheur">Enseignant-Chercheur</option>
					    <option value="Enseignant">Enseignants</option>
                    	<option value="Chercheur">Chercheurs</option>                   
                    	<option value="Ingénieur">Ingénieurs</option>
                    	<option value="Technicien">Techniciens</option>
					    <option value="Professionnel">Professionnel</option>
					</select>
				</div>

				<div id="status-data" *ngIf="formerStudentInput == true">
					<h3 id="status-data-title">Quelques informations supplémentaires sur votre statut :</h3>
					<div class="form-group">
						<p>Êtes vous un ancien étudiant du master TELENVI ?</p>
						<div>
							<input type="radio" id="former-student" name="former" value="true" formControlName="former">
							<label for="former-student">Oui</label>
						</div>

						<div>
							<input type="radio" id="not-former-student" name="former" value="false" formControlName="former">
							<label for="not-former-student">Non</label>
						</div>
					</div>
				</div>

				<p >Thématiques de travail :</p>
				<div class="form-group">
					<select class="form-control" name="thematic1" formControlName="thematic1">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic2" formControlName="thematic2">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic3" formControlName="thematic3">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic4" formControlName="thematic4">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" name="thematic5" formControlName="thematic5">
					    <option value="">-- Thématiques --</option>
					    <option value="Agriculture de Précision">Agriculture de Précision</option>
					    <option value="Archéologie">Archéologie</option>
					    <option value="Climatologie">Climatologie</option>
					    <option value="Ecologie">Ecologie</option>
					    <option value="Géographie">Géographie</option>
					    <option value="Géologie">Géologie</option>
					    <option value="Géosciences">Géosciences</option>
					    <option value="Hydrologie">Hydrologie</option>
					    <option value="Informatique">Informatique</option>
					    <option value="Intelligence Artificielle">Intelligence Artificielle</option>
					    <option value="Mathématiques">Mathématiques</option>
					    <option value="Météorologie">Météorologie</option>
					    <option value="Modélisation">Modélisation</option>
					    <option value="Océanographie">Océanographie</option>
					    <option value="Optique">Optique</option>
					    <option value="Radar">Radar</option>
					    <option value="Risques Naturels">Risques Naturels</option>
					    <option value="Statistiques">Statistiques</option>
					    <option value="Système d’information Géographique (S.I.G.)">Système d’information Géographique (S.I.G.)</option>
					    <option value="Traitement du signal">Traitement du signal</option>
					    <option value="Urbain">Urbain</option>  
					</select>
				</div>
				
				<div class="form-group">
					<label for="about">A propos de moi : </label>
					<textarea class="form-control" name="about" formControlName="about" rows="5" cols="33"></textarea>
				</div>

				<div class="form-group">
					<label for="emailToDisplay">L'adresse courriel qui sera affichée sur votre page de profil : </label>
					<input class="form-control" type="email" name="emailToDisplay" formControlName="emailToDisplay">
				</div>

				<div class="form-group">
					<label for="site">Site web : </label>
					<input class="form-control" type="url" name="site" formControlName="site">
				</div>

				<div class="form-group" id="avatar-input">
					<label for="avatar">Photo de profil : </label>
					<input class="form-control" type="file" name="avatar" (change)="onFileSelect($event)">
				</div>

				<p>Position du marqueur sur la carte : </p>
				<div id="map"></div>

				<div class="row no-gutters justify-content-center">
					<input class="btn btn-primary" type="submit">
				</div>
				
			</fieldset>
		</form>

	</div>
</div>
