<div id="for-top-border">
	<div class="container">

		<h2>Mot de passe oublié</h2>

		<form [formGroup]="recoveryForm" (ngSubmit)="onSubmitRecovery()">
			<div class="form-group">
				<label for="email">Adresse email : </label>
				<input class="form-control" type="email" name="email" formControlName="email">
				<br/>
				<div class="row no-gutters justify-content-center">
					<re-captcha formControlName="recaptchaReactive"></re-captcha>
				</div>
				<div class="row no-gutters justify-content-center">
					<input class="btn btn-primary" type="submit" [disabled]="recoveryForm.invalid">
				</div>
			</div>
		</form>

		<div class="errorMessage" *ngIf="errorMessage">
			<p>{{ errorMessage }}</p>
		</div>

		

		<div id="home">
			<a routerLink="/">Retourner à la page d'accueil</a>
		</div>
	</div>
</div>